@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  @apply p-0 m-0 box-border
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.hero{
  background-image: url('./Assets/herobg.jpg');
  z-index:-10px;
  filter: blur(1px)
}